body {
  padding: 20px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

p, ul {
  margin-bottom: 12px;
}

ul {
  margin-left: 22px
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 26px;
}

a:link, a:visited {
  color: #03d
}

h3 {
  font-size: 20px;
  margin-left: 22px;
}

div.data-item {
  font-weight: 500;
  /* this is to fix the div problem */
}